<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ChainStore Menus</title>
	<style>
		#map {
		  width: 800px;
		  height: 600px;
		  border: 1px solid #999;
		}
		
		.dropdown {
		   display: none;
		   position: absolute;
		   background-color: #f9f9f9;
		   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		   padding: 12px 16px;
		   z-index: 1;
		 }
		
		 .dropdown div {
		   cursor: pointer;
		   padding: 8px;
		 }
		
		 .dropdown div:hover {
		   background-color: #f1f1f1;
		 }
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 	<!--jQueryを読み込み-->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> 	<!--jQuery UIを読み込み-->
</head>
<body>
	<h3>検索欄</h3>
	<form id="searchForm" action="/chainstoremenus/search" method="get">
		<label>ブランド名：<input type="text" id="brandInput" name="keyword" placeholder="ブランド名を入力"></label>
		<div class="dropdown"></div><br>
		<label>場所：<input id="center" type="text" name="center" placeholder="駅名または「現在地」"></label>
		<button type="button" id="currentsearchbtn">現在地から検索</button><br>
		<label>範囲：
			<select name="radius">
				<option>--検索範囲を選んでください--</option>
				<option value="300">300m</option>
				<option value="500">500m</option>
				<option value="800">800m</option>
			</select>
		</label><br>
		<input id="nowlatlng" type="hidden" name="nowLatLng" value=""> <!--現在地を中心に店舗を検索するためにhiddenで送信-->
		<input type="submit" value="検索">
	</form>
	
	<h3>検索結果</h3>
	<div id="results"></div>
    <button type="button" id="button">一覧に戻る</button>
	
	<div id="map"></div>

	<script>
//		====== ブランド名候補のドロップダウン ======
		// ブランド候補リスト
	   const brands = ['松屋', 'マクドナルド', '星乃珈琲店'];
	
	   // テキストボックスにマウスオーバーしたときの処理
	   $('#brandInput').on('mouseenter', function() {
	     showDropdown();
	   });
	
	   // ドロップダウンの表示処理
	   function showDropdown() {
		 const dropdown = $('.dropdown');
		 dropdown.empty(); // ドロップダウンをクリア
		
		 // ブランド候補をドロップダウンに追加
		 brands.forEach(function(brand) {
		   const div = $('<div>').text(brand).click(function() {
		     $('#brandInput').val(brand);
		     dropdown.hide();
		   });
		   dropdown.append(div);
		 });
		
		 // ドロップダウンの位置を調整
		 const inputOffset = $('#brandInput').offset();
		 const inputHeight = $('#brandInput').outerHeight();
		 dropdown.css({
		   left: inputOffset.left,
		   top: inputOffset.top + inputHeight
		 });
		
		 dropdown.show();
		
		 // ドロップダウンにマウスオーバーしたときの処理
		 dropdown.on('mouseenter', function() {
		   dropdown.show();
		 });
		
		 // テキストボックスとドロップダウンの両方からマウスが離れたときの処理
		 $(document).on('mouseover', function(e) {
		   if (!$(e.target).closest('#brandInput, .dropdown').length) {
		     dropdown.hide();
		   }
		 });
	   }
	   
//	   ====== 「現在地から検索」ボタン ======
		$('#currentsearchbtn').on('click', function() {
			$('#center').val('現在地');
	    });
					
//		====== 検索の中心のオートコンプリート ======
		$(function(){
			$('#center').autocomplete({
			    source: function(request, response) {
			        $.ajax({
			            url: "/chainstoremenus/getstationnames",
			            dataType: "json",
			            data: {
			                term: request.term
			            },
			            success: function(data) {
			                response(data);
			            },
						error: function(request, status, error) {
			             // TODO: エラー時どうする
			            }
			        });
			    },
			    minLength: 2
			});
		});
		
//		====== 地図の初期化 ======
		var directionsRenderer;
		let currentLatLng;		
		let map;
		let markers = [];
		let bounds;
		
		function initMap() {
			let currentMarker;
			directionsRenderer = new google.maps.DirectionsRenderer();
			
			function success(position) {
				currentLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
				
				document.getElementById('nowlatlng').value = currentLatLng;  //店舗検索の中心として、フォームのhiddenで送る現在地の更新
				
				if(typeof map === 'undefined'){
					let mapOptions = {
						zoom: 15,
						center: currentLatLng,
						mapId: "574de86c3981bebd"
					};
					map = new google.maps.Map(document.getElementById('map'), mapOptions); 	// マップがまだ存在しない場合は新しく作成
				}
				
				if (typeof currentMarker === 'undefined') { // マーカーがまだ存在しない場合は新しく作成
					currentMarker = new google.maps.marker.AdvancedMarkerElement({
		                position: currentLatLng,
		                map: map,
            		});
        		} else { 							// マーカーが存在する場合は位置を更新
					currentMarker.position = currentLatLng;
        		}
				
			}
		
			function fail(error) {
				alert('位置情報の取得に失敗しました。エラーコード：' + error.code);
				if(typeof map === 'undefined'){
					let latLng = new google.maps.LatLng(35.6812405, 139.7649361); //東京駅
					let mapOptions = {
						zoom: 15,
						center: latLng,
						mapId: "574de86c3981bebd"
					};
					map = new google.maps.Map(document.getElementById('map'), mapOptions); 	// マップがまだ存在しない場合は新しく作成
				}
				
			}
			
			const options = {
			  enableHighAccuracy: true, //精度（trueだと良い）
			  timeout: 5000, //制限時間
			  maximumAge: 0, //キャッシュの位置情報の有効期限。期限内だと新たに取得せずキャッシュから返す
			};
			
			navigator.geolocation.watchPosition(success, fail, options); //現在地が取得できればsuccessに位置情報、できなければfail関数にエラーを代入、optionsは各種設定
		}
		
//		====== メニュー検索 ======
		$(function(){
		    $('#searchForm').submit(function(e){
		        e.preventDefault(); // フォームの通常の送信を停止
		        var request = $(this).serialize(); // フォームデータをシリアライズ
				$.ajax({
				    url: '/chainstoremenus/search',
				    type: 'GET',
					data: request,
				    success: response => {
				        success(response);
				    },
				    error: (xhr, status, error) => {
						// TODO: エラー時どうする
						console.log(status);
				    }
				});
		    });
		});
		
		function success(response) {
		    let responseObj = JSON.parse(response); // JSONデータをパースしてJavaScriptのオブジェクトに変換
			$('#results').empty(); // 以前の結果をクリア
			markers.forEach(marker => {
            	marker.map = null; // 各店舗のマーカーを削除
            });
			markers = []; // マーカーを初期化s
			bounds = new google.maps.LatLngBounds(); // マップに表示する矩形領域インスタンス生成
			
			responseObj.forEach(obj => {
                let resultDiv = $('<div>').addClass('menuinfos');
                resultDiv.append($('<span>').text(obj.storeName));
                resultDiv.append($('<span>').text(obj.open_now ? '営業中' : '営業時間外'));
                resultDiv.append($('<span>').text(obj.distance));
                resultDiv.append($('<span>').text(obj.duration));
                resultDiv.append($('<input>').attr('type', 'hidden').addClass('hiddens').attr('name', obj.lng).val(obj.lat));
                resultDiv.append($('<button>').addClass('btn').text('ルート検索'));
				$('#results').append(resultDiv);
				
				let marker = new google.maps.marker.AdvancedMarkerElement({ //各店舗のマーカーを生成
                    position: {lat: obj.lat, lng: obj.lng},
                    map: map
                });
				markers.push(marker); //マーカーを格納
				bounds.extend({lat: obj.lat, lng: obj.lng}); //矩形領域に各店舗の位置を追加
            });
			
			if(currentLatLng !== 'undefined'){
				bounds.extend(currentLatLng); //現在地が取得できていれば矩形領域に追加
			}
			map.fitBounds(bounds); //マップに矩形領域を伝える
			
            $('.btn').on('click', function(){calcRoute(this);}); // ルート検索ボタンにイベントを追加
			$('#button').on('click', backToList);
		}
		
//		====== ルート検索 ======
		function calcRoute(obj) {
            directionsRenderer.setMap(map); // レンダラに結びつける地図情報を与える
            
            let preSibling = obj.previousElementSibling;
            let desLatLng = new google.maps.LatLng(preSibling.value, preSibling.getAttribute('name')); // hiddenにある目的地の経緯度を取得
            let request = {
                origin: currentLatLng, // 現在地の経緯度
                destination: desLatLng,
                travelMode: 'WALKING'
            };
            
            new google.maps.DirectionsService().route(request, (result, status) => { // 第一引数をリクエストすると返ってくるresultとstatusを第二引数の関数に渡す
                if (status === 'OK') {
                    directionsRenderer.setDirections(result); // ルートをマップに表示
                    markers.forEach(marker => {
                    	marker.map = null; // 各店舗のマーカーを削除
                    });
                } else {
                    alert(status);
                }
            });
        }
		
//		====== 一覧に戻る ======
		function backToList(){
			directionsRenderer.setMap(null); // ルート案内を消すためにレンダラとマップの関連を削除
			
            bounds = new google.maps.LatLngBounds(); // 最新の現在地のみを保持するために矩形領域をリセット
            bounds.extend(currentLatLng); // 最新の現在地を追加
            markers.forEach(marker => {
                marker.map = map; // 各店舗のマーカーを再表示
				bounds.extend(marker.position); //各店舗の位置を再追加
            });
            map.fitBounds(bounds); // マップに矩形領域を伝える
        }
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvngfDlCJ3HuSMFjB0jylBTpowN9pb-RQ&callback=initMap&libraries=marker" async defer></script>
</body>
</html>