<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ChainStore Menus</title>
	<style>
		#map {
		  width: 800px;
		  height: 600px;
		  border: 1px solid #999;
		}
		
		.dropdown {
		   display: none;
		   position: absolute;
		   background-color: #f9f9f9;
		   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		   padding: 12px 16px;
		   z-index: 1;
		 }
		
		 .dropdown div {
		   cursor: pointer;
		   padding: 8px;
		 }
		
		 .dropdown div:hover {
		   background-color: #f1f1f1;
		 }
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 	<!--jQueryを読み込み-->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> 	<!--jQuery UIを読み込み-->
</head>
<body>
	<h3>検索欄</h3>
	<form action="/chainstoremenus/search" method="get">
		<label>ブランド名：<input type="text" id="brandInput" name="keyword" placeholder="ブランド名を入力"></label>
		<div class="dropdown"></div><br>
		<label>場所：<input id="center" type="text" name="center" placeholder="駅名または「現在地」"></label>
		<button id="currentsearchbtn">現在地から検索</button><br>
		<label>範囲：
			<select name="radius">
				<option>--検索範囲を選んでください--</option>
				<option value="300">300m</option>
				<option value="500">500m</option>
				<option value="800">800m</option>
			</select>
		</label><br>
		<input id="nowlatlng" type="hidden" name="nowLatLng" value=""> <!--現在地を中心に店舗を検索するためにhiddenで送信-->
		<input type="submit" value="検索">
	</form>
	<div id="map"></div>

	<script>
//		====== ブランド名の候補をドロップダウン ======
		// ブランド候補リスト
	   const brands = ['松屋', 'マクドナルド', '星乃珈琲店'];
	
	   // テキストボックスにマウスオーバーしたときの処理
	   $('#brandInput').on('mouseenter', function() {
	     showDropdown();
	   });
	
	   // ドロップダウンの表示処理
	   function showDropdown() {
		 const dropdown = $('.dropdown');
		 dropdown.empty(); // ドロップダウンをクリア
		
		 // ブランド候補をドロップダウンに追加
		 brands.forEach(function(brand) {
		   const div = $('<div>').text(brand).click(function() {
		     $('#brandInput').val(brand);
		     dropdown.hide();
		   });
		   dropdown.append(div);
		 });
		
		 // ドロップダウンの位置を調整
		 const inputOffset = $('#brandInput').offset();
		 const inputHeight = $('#brandInput').outerHeight();
		 dropdown.css({
		   left: inputOffset.left,
		   top: inputOffset.top + inputHeight
		 });
		
		 dropdown.show();
		
		 // ドロップダウンにマウスオーバーしたときの処理
		 dropdown.on('mouseenter', function() {
		   dropdown.show();
		 });
		
		 // テキストボックスとドロップダウンの両方からマウスが離れたときの処理
		 $(document).on('mouseover', function(e) {
		   if (!$(e.target).closest('#brandInput, .dropdown').length) {
		     dropdown.hide();
		   }
		 });
	   }
	   
//	   ====== 「現在地から検索」ボタンの挙動 ======
		$('#currentsearchbtn').on('click', function() {
			$('#brandInput').val('現在地');
	    });
					
//		====== 検索の中心をオートコンプリート ======
		$(function(){
			$('#center').autocomplete({
			    source: function(request, response) {
			        $.ajax({
			            url: "/chainstoremenus/getstationnames",
			            dataType: "json",
			            data: {
			                term: request.term
			            },
			            success: function(data) {
			                response(data);
			            },
						error: function(request, status, error) {
			             // TODO: エラー時どうする
			            }
			        });
			    },
			    minLength: 2
			});
		});
		
//		====== 地図の初期化 ======
		var directionsRenderer;
		let nowLatLng;
		
		function initMap() {
			var map;
			
			function success(position) {
				let coords = position.coords;
				nowLatLng = new google.maps.LatLng(coords.latitude, coords.longitude);
				let mapOptions = {
					zoom: 15,
					center: nowLatLng,
					mapId: "574de86c3981bebd"
				};
				
				document.getElementById('nowlatlng').value = nowLatLng;
				map = new google.maps.Map(document.getElementById('map'), mapOptions); //マップの作成
				new google.maps.marker.AdvancedMarkerElement({
					position: nowLatLng, //マーカーの位置（必須）
					map: map //マーカーを表示する地図
				});
				
				directionsRenderer = new google.maps.DirectionsRenderer();
				directionsRenderer.setMap(map); //レンダラにマップを関連付け
			}
		
			function fail(error) {
				alert('位置情報の取得に失敗しました。エラーコード：' + error.code);
				let latLng = new google.maps.LatLng(35.6812405, 139.7649361); //東京駅
				let mapOptions = {
					zoom: 15,
					center: latLng,
					mapId: "574de86c3981bebd"
				};
				map = new google.maps.Map(document.getElementById('map'), mapOptions);
				
				directionsRenderer = new google.maps.DirectionsRenderer();
				directionsRenderer.setMap(map); //レンダラにマップを関連付け
			}
			
			const options = {
			  enableHighAccuracy: true, //精度（trueだと良い）
			  timeout: 5000, //制限時間
			  maximumAge: 0, //キャッシュの位置情報の有効期限。期限内だと新たに取得せずキャッシュから返す
			};
			
			navigator.geolocation.getCurrentPosition(success, fail, options); //現在地が取得できればsuccessに位置情報、できなければfail関数にエラー、optionsは各種設定
			
		}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvngfDlCJ3HuSMFjB0jylBTpowN9pb-RQ&callback=initMap&libraries=marker" async defer></script>
</body>
</html>