<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>チェンサ - Chain Store Search -</title>
	<link rel=”icon” href=“/img/favicon.ico”>
	<link rel="icon" type="image/png" href="/img/favicon.png">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<!-- マップ -->
	<div id="map"></div>
	
	<!-- 検索フォーム -->
	<div id="search-form-and-return-to-stores-list-button-container">
		<form id="search-form-wrapper" action="/chainstoresearch/search" method="get">
			<select id="brand-name" name="brandName" required> <!-- nameはFormクラスのフィールド名と揃えるためにキャメルケース / 	required:必須項目 -->
				<option value="" hidden>ブランド名を選択</option> <!-- requiredと合わせてvalueを空にすることで、「ブランド名を選択」の選択状態では送信できなくなる -->
				<option value="松屋">松屋</option>
				<option value="すき家">すき家</option>
				<option value="吉野家">吉野家</option>
				<option value="はなまるうどん">はなまるうどん</option>
				<option value="丸亀製麺">	丸亀製麺</option>
			</select>
			<input type="text" id="center" name="center" placeholder="駅名を入力、または" autocomplete="off" required> <!-- autocomplete:入力したことのある値をサジェストするが、アプリの機能としてのサジェストと重複するためoff -->
			<datalist id="stations-list"></datalist> <!-- サジェストする駅名リストを格納するdatalist -->
			<input type="hidden" id="current-latlng" name="currentLatLng" value=""> <!--現在地を中心に店舗検索するためhiddenで送信 / nameはFormクラスのフィールド名と揃えるためにキャメルケース-->
			<input type="hidden" id="station-latlng" name="stationLatLng" value="">
			<button type="button" id="set-current-location-button">現在地を指定</button>
			<button	type="submit" id="submit-button">検索</button>
		</form>
		<button type="button" id="return-to-stores-list-button">店舗一覧に戻る</button>
	</div>
	
	<!-- メニュー表示 -->
	<div id="menu-board-container">
		<!-- 予算 -->
		<div id="price-limit-container">
			<span id="price-limit-group">
				予算	
				<select id="price-limit" name="priceLimit">
					<option value="---" hidden>---</option>
					<option value="500">500</option>
					<option value="550">550</option>
					<option value="600">600</option>
					<option value="650">650</option>
					<option value="700">700</option>
					<option value="750">750</option>
					<option value="800">800</option>
					<option value="850">850</option>
					<option value="900">900</option>
					<option value="950">950</option>
					<option value="1000">1000</option>
				</select>
				円
			</span>
		</div>
		
		<!-- メニュー -->
		<div id="menu-result-container">
			<div class="menu-result-wrapper">
				<div class="menu-result-group">
					<div class="menu-box"></div>
					<div class="total-price-box">
						<span class="total-price">
							<span class="total-price-symbol">合計</span><span class="total-price-value"></span>
						</span>
					</div>
				</div>
				<button class="shuffle-menus-button">シャッフル</button>
			</div>
			
			<div class="menu-result-wrapper">
				<div class="menu-result-group">
					<div class="menu-box"></div>
					<div class="total-price-box">
						<span class="total-price">
							<span class="total-price-symbol">合計</span><span class="total-price-value"></span>
						</span>
					</div>
				</div>
				<button class="shuffle-menus-button">シャッフル</button>				
			</div>
		</div>
	</div>
	
	<!-- ルート検索アイコン画像のクレジット掲載 -->
	<div id="calc-route-icon-credit"> 
		<a target="_blank" href="https://icons8.com/icon/37189/route">ルート</a> アイコン by <a target="_blank" href="https://icons8.com">Icons8</a>
	</div>
	
	<!-- async:HTML・JS読み込み->HTML中断・JS実行->HTML再開 / defer:HTML・JS読み込み->HTML実行->JS実行 両方を書いておくことで、asyncが対応していないブラウザではdeferが適用-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvngfDlCJ3HuSMFjB0jylBTpowN9pb-RQ&v=beta&libraries=marker" async defer></script>	
	<script type="module" src="/js/Main.js"></script>
</body>
</html>