<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ChainStore Menus</title><!--TODO タイトルとアイコン-->
	<link th:href="@{/css/admin.css}" rel="stylesheet">
</head>
<body>
	<div id="map"></div>
	
	<div id="search-form-and-return-to-stores-list-button-container">
		<form id="search-form-wrapper" action="/chainstoresearch/search" method="get">
			<select id="brand-name" name="brandName" required> <!-- nameはFormクラスのフィールド名と揃えるためにキャメルケース -->
				<option value="" hidden>ブランド名を選択</option> <!-- TODO: 「ブランド名を選択」が選択されないようにする -->
				<option value="松屋">松屋</option>
				<option value="すき家">すき家</option>
				<option value="吉野家">吉野家</option>
				<option value="はなまるうどん">はなまるうどん</option>
				<option value="丸亀製麺">	丸亀製麺</option>
			</select>
			<input type="text" id="center" name="center" placeholder="駅名を入力、または" autocomplete="off">
			<datalist id="stations-list"></datalist>
			<input type="hidden" id="current-latlng" name="currentLatLng" value=""> <!--現在地を中心に店舗検索するためhiddenで送信・nameはFormクラスのフィールド名と揃えるためにキャメルケース-->
			<input type="hidden" id="station-latlng" name="stationLatLng" value="">
			<button type="button" id="set-current-location-button">現在地を指定</button>
			<input id="submit-button" type="submit" value="検索">
		</form>
		<button id="return-to-stores-list-button">店舗一覧に戻る</button>
	</div>

	<div id="current-location-information-status">位置情報を取得中...</div>
	<div id="get-information-status">一時的に情報を取得できませんでした。時間をおいて再度お試しください</div>
	<div id="get-stations-status">該当する駅がありません。漢字やカタカナに変換するなどしてみてください</div>
	<div id="search-stores-status">現在地を取得できていないため、店舗検索ができません。駅名から検索してください</div>
	
	<div id="menu-board-container">
		<div id="price-limit-container">
			<span id="price-limit-group">
				予算	
				<select id="price-limit" name="priceLimit">
					<option value="---">---</option>
					<option value="500">500</option>
					<option value="550">550</option>
					<option value="600">600</option>
					<option value="650">650</option>
					<option value="700">700</option>
					<option value="750">750</option>
					<option value="800">800</option>
					<option value="850">850</option>
					<option value="900">900</option>
					<option value="950">950</option>
					<option value="1000">1000</option>
				</select>
				円
			</span>
		</div>
		<div id="menu-result-container"></div>
	</div>
	<div>
		<a target="_blank" href="https://icons8.com/icon/37189/route">ルート</a> アイコン by <a target="_blank" href="https://icons8.com">Icons8</a><!-- TODO: クレジット掲載義務 -->
	</div>
	
	<script th:src="@{/js/admin.js}"></script>
	<!-- async:HTML・JS読み込み->HTML中断・JS実行->HTML再開 defer:HTML・JS読み込み->HTML実行->JS実行 両方を書いておくことで、asyncが対応していないブラウザではdeferが適用-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvngfDlCJ3HuSMFjB0jylBTpowN9pb-RQ&v=beta&callback=initMap&libraries=marker" async defer></script>
</body>
</html>