<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chainstoreapp.repository.StationMapper">
	<select id="selectStationsIncludingInput" resultType="com.example.chainstoreapp.entity.Station">
		SELECT
			CASE
			 	<!-- COUNT() OVER():分析関数（集合関数と異なり、OVER句をつけることによって行をまとめずに集計する）・PARTITION BY:集計対象の区切り -->
			 	<!-- 同一名称の駅があったらそれぞれに都道府県名を付け、なければ駅名をそのまま、新たにname_with_prefectureカラムとする -->
    			WHEN COUNT(*) OVER (PARTITION BY name) >= 2
   					THEN CONCAT(name, ' (', prefecture, ')') 
    			ELSE name
  			END AS name,
  			latitude,
  			longitude
		FROM stations
		WHERE name LIKE #{patternIncludingInput} <!-- 入力値を名前に含む駅 -->
		ORDER BY
			<!-- 「(入力値) + "駅"」-> 入力値から始まる駅 -> その他 の順で並べ替え -->
			CASE
				WHEN name = #{inputPlusStation} THEN 0
				WHEN name LIKE #{patternBeginningWithInput} THEN 1
    			ELSE 2
  			END,
  			name;
	</select>
</mapper>