@charset "UTF-8";

* {
	box-sizing: border-box;
}

#map {
	position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* 画面の横幅いっぱい */
    height: 100vh; /* 画面の縦幅いっぱい */
}

#current-location-marker {
	background-color: #115EC3;
	border: 2px solid white;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

#search-form-and-return-to-stores-list-button-container {
    display: flex;
  	position: absolute;
	z-index: 100;
	left: 50%;
	transform: translateX(-50%);
	top: 10px;
	align-items: center;
}

#search-form-wrapper {
    display: flex;
	height: 60px;
    background-color: white;
	border: none;			
	border-radius: 10px;
	box-shadow: 0px 11px 15px -5px rgba(0, 0, 0, 0.42);
	flex: 0 0 auto;
	margin-right: 10px;
}

#return-to-stores-list-button {
	display: none;
	color: white;
	background-color: #ffa600;
	border: none;
    cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
	box-shadow: 0px 7px 15px -3px rgba(0, 0, 0, 0.42);
	flex: 0 0 auto;
	height: 40px;
}

#brand-name, #center {
	background-color: white;
	font-size: 0.9rem;
	outline: none;
}

#brand-name {
	flex: 0 0 auto;
	padding: 10px;
	border-style: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color: rgb(126, 127, 123);
}

#center {
	flex: 0 0 auto;
	border-left: 1px #ccc;
	border-style: none none none solid;
	margin-left: 10px;
	padding: 10px;
	color: #443D3A;
}

#center::-webkit-calendar-picker-indicator {
	opacity: 0;
}

#center::placeholder, #price-limit::placeholder {
	color: rgb(126, 127, 123);
	text-align: center;
}

#set-current-location-button {
	flex: 0 0 auto; /* サイズを固定して伸縮しないようにする */
	background-color: white;
	color: rgb(126, 127, 123);
	font-size: 0.9rem;
	border: solid 1px;
	border-radius: 10px;
	margin: 15px 15px 15px 0px;
	min-width: 0;
    cursor: pointer;
}

#submit-button {
	flex: 0 0 auto; /* サイズを固定して伸縮しないようにする */
	color: white;
	background-color: #ffa600;
	font-size: 0.9em;
	font-weight: bold;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px;
    border: none;
    cursor: pointer;
}

#set-current-location-button:hover,
#submit-button:hover,
#return-to-stores-list-button:hover,
.calc-route-button:hover,
.shuffle-menus-button:hover {
	opacity: 0.6;
	transition: 0.5s;
}
/* ------------ */

#current-location-information-status, 
#get-information-status, 
#get-stations-status, 
#search-stores-status {
	display: none;
	height: 30px;
	line-height: 30px;
	font-size: 0.8rem;
	text-align: center;
	position: absolute;
	z-index: 100;
	color: #443D3A;
    background-color: white;
	border: none;			
	border-radius: 20px;
	box-shadow: 0px 11px 15px -5px rgba(0, 0, 0, 0.42);
	left: 50%;
	transform: translateX(-50%);
}

#current-location-information-status {
	top: 80px;
	width: 200px;
}

#get-information-status, #get-stations-status {
	top: 120px;
	width: 480px;
}

#search-stores-status {
	top: 120px;
	width: 560px;
}

/* ------------ */
.store-info-group {
    display: flex;
	flex-direction: row;
	align-items: center;
}

.gm-style-iw.gm-style-iw-c {
	padding: 10px !important;
}

.gm-style-iw-chr { /* infoWindowの閉じるボタン */
	display: none;
}

.gm-style-iw-d {
    overflow: hidden !important;
}

.store-duration {
	font-size: 1rem;
	color: #443D3A;
	font-weight: bold;
	margin-right: 10px;
}

.store-latitude, .store-longitude {
	display: none;
}

.calc-route-button {
	background-color: white;
	border: none;
	padding: 0;
	width: 30px;
	height: 30px;
    cursor: pointer;
}

.calc-route-icon {
	height: 100%;
}

/* ------------ */

#menu-board-container {		
	display: none;			
	padding: 30px;
	width: 500px;			
	top: 100px;
	left: 30px;
	position: absolute;
	z-index: 100;
	border-radius: 10px;
	box-shadow: 0px 11px 15px -5px rgba(0, 0, 0, 0.42);
	background: rgba(255, 255, 255, 0.5);	
	max-height: calc(100vh - 130px);
    overflow: auto;
}

#menu-board-container::-webkit-scrollbar {
    width: 7px;
}

#menu-board-container::-webkit-scrollbar-thumb {
    background: rgb(205, 205, 205);
    border-radius: 10px;
}

#menu-board-container::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 177, 177);
}

#price-limit-container {
	text-align: center;
	margin-bottom: 15px;
}

#price-limit-group {
	border-radius: 10px;
	box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.42);
	color: #443D3A;
	font-size: 1.5rem;
	padding: 15px;
	background-color: white;
}

#price-limit {
	 border: solid 1px #ccc;
	 border-radius: 10px;
	 outline: none;
	 font-size: 1.5rem;
	 font-weight: bold;
	 color: #443D3A;
}

#menu-result-container {
    display: flex;
	flex-direction: column;
}

.menu-result-wrapper {
	display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
	border-radius: 10px;
	box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.42);
	padding: 10px;
	background:rgba(255, 255, 255, 0.5);
}

.menu-result-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;	
}

.menu-box {
	flex: 1;
	border-right: dashed 2px #ffa600;
}

.menu, .total-price-box {
    display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px;
	color: #443D3A;
}

.menu {
	background-color:#FFF6E6;
	box-shadow: 0px 7px 15px -3px rgba(0, 0, 0, 0.42);
	border-radius: 10px;
	padding: 10px;
}

.menu-name {
    flex: 1;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	padding: 5px;
}

.menu-price {
    flex-basis: 50px;
	text-align: right;
	font-size: 0.9rem;
}

.total-price {
	display: flex;
	flex-direction: column;
	background-color:#FFF6E6;
	box-shadow: 0px 7px 15px -3px rgba(0, 0, 0, 0.42);
	border-radius: 10px;
	padding: 10px;
}

.total-price-symbol {
	font-size: 0.9rem;
}

.total-price-value {
	font-size: 1.5rem;
	font-weight: bold;
}

.shuffle-menus-button {
	padding: 10px;			
	color: white;			
    background-color:#ffa600;
	border: none;
    cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
	box-shadow: 0px 7px 15px -3px rgba(0, 0, 0, 0.42);
}