@charset "UTF-8";

/* ホバーすると透過するもの */
#set-current-location-button:hover, #submit-button:hover,
#return-to-stores-list-button:hover, .calc-route-button:hover, .shuffle-menus-button:hover {
	opacity: 0.6;
	transition: 0.5s;
}

/* オレンジのボタン */
#submit-button, #return-to-stores-list-button, .shuffle-menus-button {
	padding: 10px;
	color: white;
	background-color: #ffa600;
	font-weight: bold;
	border: none;	
}

/*
マップ
*/

#map {
    width: 100vw; /* vw:ブラウザの表示範囲の幅1/100を1とする */
    height: 100vh; /* vh:ブラウザの表示範囲の高さ1/100を1とする */
}

#current-location-marker {
	width: 18px;
	height: 18px;
	background-color: #115EC3;
	border: 2px solid white;
	border-radius: 50%;	/* 設定した半径の円弧の丸みが適用される。%の場合は要素の幅や高さが基準 */
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); /* 左右(必須) 上下(必須） ぼかし 広がり 色 内側指定 */
}

/*
店舗検索フォームと「店舗一覧に戻る」ボタン
*/

#search-form-and-return-to-stores-list-button-container {
  	position: absolute;
	top: 45px;
	left: 50%;
	transform: translateX(-50%); /* x軸方向の平行移動。leftと合わせて画面の中心に配置 */
	z-index: 100;
    display: flex;
	align-items: center; /* flexアイテムの配置を決める */
}

#search-form-wrapper {
	height: 60px;
	margin-right: 15px;
	flex: 0 0 auto; /* 伸び具合 縮み具合 基本の大きさ。0 0 autoはサイズを固定して伸縮しないようにする */
    background-color: white;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 11px 15px -5px rgba(0, 0, 0, 0.42);
	display: flex;
}

#brand-name, #center {
	padding: 10px;
	flex: 0 0 auto;
	background-color: white;
	font-size: 14.5px;
	outline: none; /* フォーカスが当たったときの輪郭線を消去 */
}

#brand-name {
	color: #7e7f7b;
	border-style: none;
	border-radius: 10px 0 0 10px;
    cursor: pointer;
}

#center {
	margin-left: 10px;
	color: #443D3A;
	border-left: 1px #ccc;
	border-style: none none none solid;
}

#center::-webkit-calendar-picker-indicator {
	opacity: 0; /* 入力時に出る逆三角形マークを消去 */
}

#center::placeholder {
	color: #7e7f7b;
	text-align: center;
}

#set-current-location-button {
	margin: 15px 15px 15px 0px;
	flex: 0 0 auto;
	color: #7e7f7b;
	background-color: white;
	font-size: 14.5px;
	border: 1px solid;
	border-radius: 10px;
    cursor: pointer;
}

#submit-button {
	flex: 0 0 auto;
	border-radius: 0 10px 10px 0;
    cursor: pointer;
}

#return-to-stores-list-button-wrapper {
	display: none;
	flex: 0 0 auto;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 11px 15px -5px rgba(0, 0, 0, 0.42);
}

#return-to-stores-list-button {
	border-radius: 10px;
    cursor: pointer;
}

/* 
エラーメッセージ
*/

.notice {
	height: 30px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	line-height: 30px;
	text-align: center;
	color: #443D3A;
    background-color: white;
   	font-size: 12.5px;
	border: none;			
	border-radius: 20px;
	box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.42);
}

#choose-from-list-notice {
	top: 10px;
	width: 250px;
}

#getting-current-location-notice {
	top: 120px;
	width: 170px;
}

#fail-get-information-notice, #no-station-notice, #fail-search-stores-notice,
#choose-right-station-notice, #no-store-notice, #fail-calc-route-notice {
	top: 160px;
	width: 500px;
}

/*
店舗マーカーの情報ウィンドウ
*/
.gm-style-iw.gm-style-iw-c {
	padding: 10px !important;
}

.gm-style-iw-chr { 
	display: none; /* 閉じるボタンを消去 */
}

.gm-style-iw-d {
    overflow: hidden !important; /* 余白を消去 */
}

.store-info-group {
    display: flex;
	flex-direction: row;
	align-items: center;
}

.store-duration {
	color: #443D3A;
	font-size: 17px;
	font-weight: bold;
	margin-right: 10px;
}

.store-latitude, .store-longitude {
	display: none;
}

.calc-route-button {
	background-color: white;
	border: none;
	padding: 0;
	width: 30px;
	height: 30px;
    cursor: pointer;
}

.calc-route-icon {
	height: 100%;
}

/*
メニュー
*/

#menu-board-container {		
	display: none;
	max-height: calc(100vh - 250px);
	min-width: 500px;
	width: 28vw;
	padding: 30px;
	position: absolute;
	top: 200px;
	left: 45px;
	z-index: 100;
	overflow: auto; /* 内容が溢れる場合はスクロールバーを表示 */
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	box-shadow: 0px 11px 15px -5px rgba(0, 0, 0, 0.42);
}

#menu-board-container::-webkit-scrollbar { /* スクロールバーの背景 */
    width: 7px;
}

#menu-board-container::-webkit-scrollbar-thumb { /* スクロールバー */
    background: #cdcdcd;
    border-radius: 10px;
}

#menu-board-container::-webkit-scrollbar-thumb:hover {
    background: #b1b1b1;
}

#price-limit-container {
	text-align: center;
	margin-bottom: 15px;
}

#price-limit-group {
	padding: 15px;
	color: #443D3A;
	background-color: white;
	font-size: 23px;
	border-radius: 10px;
	box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.3);
}

#price-limit {
	 color: #443D3A;
	 font-size: 24px;
	 font-weight: bold;
	 border: 1px solid #ccc;
	 border-radius: 10px;
	 outline: none;
     cursor: pointer;
}

#menu-result-container {
	display: none;
	flex-direction: column;
}

.menu-result-wrapper {
  	padding: 10px;
    margin-top: 15px;
	display: flex;
    flex-direction: column;
	border-radius: 10px;
	box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.3);
}

.menu-result-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;	
}

.menu-box {
	flex: 1;
	border-right: 2px dashed #ffa600;
}

.menu {
	padding: 10px;
	margin: 5px;
    display: flex;
	flex-direction: row;
	align-items: center;
	color: #443D3A;
	background-color:#FFF6E6;
	border-radius: 10px;
	box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.3);
}

.menu-name {
	padding: 5px;
    flex: 1;
   	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.menu-price {
	text-align: right;
	font-size: 14px;
}

.total-price-box {
	margin: 5px;
	color: #443D3A;
}

.total-price {
	padding: 10px;
	display: flex;
	flex-direction: column;
	background-color:#FFF6E6;
	border-radius: 10px;
	box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.3);
}

.total-price-symbol {
	font-size: 14px;
}

.total-price-value {
	font-size: 22px;
	font-weight: bold;
}

.shuffle-menus-button-box {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 11px 15px -5px rgba(0, 0, 0, 0.42);	
}

.shuffle-menus-button {
	width: 100%;
	border-radius: 10px;
    cursor: pointer;
}

/*
ルート検索アイコンのクレジット
*/

#calc-route-icon-credit {
	width: 165px;
	height: 30px;
  	position: absolute;
	right: 60px;
	bottom: 25px;
	z-index: 100;
	line-height: 30px;
	text-align: center;
	color: #443D3A;
    background-color: white;
   	font-size: 12px;
	border: none;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}